// General settings
$overlay-color:								rgb(0 0 0 / 60%);
$general-transition-time:					.2s;
$general-transition-ease:					cubic-bezier(.47, .17, .17, .58);
$strong-ease:           					cubic-bezier(0.1, 0.82, 0.16, 0.92);
$container-max-width:                       1600px;
